input {
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 9px;
    font-size: 12px;
    width: 300px;
    margin-bottom: 15px;
}

.submitButton {
    padding: 10px;
    border: 1px solid lightgray;
    color: white;
    background-color: darkgray;
    border-radius: 5px;
    margin-left: 10px;
    width: 100px;
}

.submitButton:hover {
    background-color: lightgray;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorText {
    color: red;
    font-size: 13px;
}

.successText {
    color: green;
    font-size: 13px;
}

.switchButton {
    padding: 10px;
    border: 1px solid darkgray;
    color: white;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: 10px;
    width: 100px;
}

.switchButton:hover {
    background-color: darkgray;
}

#wp2 {
    height: 400px;
}
